
}
img {
  float: center

}

.jumbotron{
  text-align: center;
  height: 300px;
}

.jumbotron img{
    float: right;
    height: 200px;
    width: 200px;

}

.avatar {
  height: 50px;
  width: 50px;
  background-color: #555;
}

.Background {
  color: red;
}

.Interest {
  color: green;
}

body {
  font-family: sans-serif;
  border: 12px solid #b38f00;
  border: 12px solid #b38f00;
  padding: 10px 15px;
  background-color: #4d004d;
  height:inherit;
  width: 100%;
}

strong {
  font-family: monospace;
}

em
{
  font-family: monospace;
}
