img {
  float: center

}

.jumbotron{
  text-align: center;
  height: 300px;
}

.jumbotron img{
    float: right;
    height: 200px;
    width: 200px;

}

.avatar {
  height: 50px;
  width: 50px;
  background-color: #555;ß
}

.Background {
  color: red;
}

.Interest {
  color: purple;
}

body {
  font-family: sans-serif;
  border: 12px solid #b38f00;
  border: 12px solid #b38f00;

  padding: 12px;
  background-color: #4d004d;
  height:inherit;
  width: 100%;
}
